<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<link rel="stylesheet"  href="statics/css/LoginForm.css"/>
	</head>
	<body>
		  <form class="login-form">
		    <h1>Sign Up</h1>
		    <div class="txtb">
		      <input type="text" v-model="name">
		      <span data-placeholder="Username"></span>
		    </div>
		    <div class="txtb">
		      <input type="password" v-model="password" @keyup.enter="register">
		      <span data-placeholder="Password"></span>
		    </div>	
		    <div class="txtb">
		      <input type="password" v-model="passwordRepeart" @keyup.enter="register">
		      <span data-placeholder="PasswordRepeart"></span>
		    </div>	
		    <button type="button" @click="register" class="logbtn" >Yes</button>
		    <button type="button" @click="back" class="logbtn" >Cancel</button>
		
		  </form>
		  
		  <script type="text/javascript">
		  	$(".txtb input").on("focus",function(){
		  	  $(this).addClass("focus");
		  	});
		  	
		  	$(".txtb input").on("blur",function(){
		  	  if($(this).val() ==="")
		  	    $(this).removeClass("focus");
		  	});
		  </script>
		  
		  <script type="text/javascript">
			  let container = new Vue({
				  el: ".login-form",
				  data: {
					  name:'',
					  password:'',
					  passwordRepeart:''
				  },
				  methods: {
					  register:function (){
						  let that = this;
						  if(this.name === ''){
						  	alert('请输入合法账号名');
						  }
						  else if(this.password === this.passwordRepeart && this.password === ''){
						  	alert('密码不能为空');
						  }
						  else if(this.password === this.passwordRepeart){
							  axios.post('/user/register', {
								  params: {
									  username: that.name,
									  pwd: that.password
								  }
							  })
									  .then(function (response) {
										  if(response){
											  alert('注册成功')
											  window.location.href="./LoginForm.html";
										  }
										  else{
											  alert('改账号已被注册');
										  }
									  })
									  .catch(function (error) {
										  console.log(error);
									  })
						  }
						  else{
							  alert('两次输入密码不同');
						  }
					  },

					  back:function (){
						  window.location.href="./loginForm.html";
					  }
				  },
			  });
		  </script>
	</body>
</html>
